header {
  height: 38px;
  margin-top: 0px;
  transform: translateY(0px);
  left: 0px;
  right: 0px;
  background-color: #c9e671;
  padding: 20px 10px;
  .user-info {
    text-align: right;
  }
}
button,
.link {
  margin-left: 10px;
  letter-spacing: 3px;
  height: 3em;
  padding: 0 3em;
  border: none;
  background-color: #c41b54;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #5b0924;
  }
  &:disabled {
    background-color: #eebacb;
    cursor: inherit;
  }
}

.link {
  text-decoration: none;
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  height: 1.2em;
}

h1 {
  text-align: center;
}
.heart {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15px;
    height: 20px;
    border-radius: 50px 50px 0 0;
    background: rgb(196 27 84);
  }
  &::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 5% 275%;
  }
  &::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 52% 200%;
  }
}
